/* Global styles */

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  --bg-color-dark: rgb(30, 30, 30);
  --bg-color-dark-transparent: rgba(10, 10, 10, 0.6);
  --bg-color-dark-2: rgb(80, 80, 80);
  --bg-color-light: rgb(222, 222, 222);
  --text-color-light: rgb(240, 240, 240);
  --text-color-dark: rgb(30, 30, 30);
  --shadow-color: rgba(30, 30, 30, 0.2);
  font-family: sans-serif;
  color: var(--text-color-light);
}
