/* Global styles */

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  --bg-color-dark: rgb(30, 30, 30);
  --bg-color-dark-transparent: rgba(16, 16, 16, 0.7);
  --bg-color-dark-2: rgb(80, 80, 80);
  --bg-color-light: rgb(222, 222, 222);
  --bg-color-light-2: rgb(250, 250, 250);
  --bg-color-notify: rgb(200, 0, 0);
  --bg-color-notify-transparent: rgba(200, 0, 0, 0.8);
  --text-color-light: rgb(240, 240, 240);
  --text-color-dark: rgb(30, 30, 30);
  --shadow-color: rgba(30, 30, 30, 0.2);
  --primary-color: #499cdb; /* Logo Blue */
  --primary-color-dark: #004a89;
  --primary-color-dark-2: #002261;
  font-family: sans-serif;
  color: var(--text-color-light);
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header__medium {
  padding: 10px;
}
